Projects/KeyingTestProject/.idea/
Projects/KeyingTestProject/.vs/
Projects/KeyingTestProject/Library/
Projects/KeyingTestProject/Logs/
Projects/KeyingTestProject/obj/
Projects/KeyingTestProject/Temp/
