Projects/KeyingTestProject/.idea/
Projects/KeyingTestProject/.vs/
Projects/KeyingTestProject/Library/
Projects/KeyingTestProject/Logs/
Projects/KeyingTestProject/obj/
Projects/KeyingTestProject/Temp/
Projects/notHDRP_HW_demo/.idea/
Projects/notHDRP_HW_demo/.vs/
Projects/notHDRP_HW_demo/Library/
Projects/notHDRP_HW_demo/Logs/
Projects/notHDRP_HW_demo/obj/
Projects/notHDRP_HW_demo/Temp/
Projects/HW20-645/.idea/
Projects/HW20-645/.vs/
Projects/HW20-645/Library/
Projects/HW20-645/Logs/
Projects/HW20-645/obj/
Projects/HW20-645/Temp/
Projects/HW_shader_VFX_Zoom/.idea/
Projects/HW_shader_VFX_Zoom/.vs/
Projects/HW_shader_VFX_Zoom/Library/
Projects/HW_shader_VFX_Zoom/Logs/
Projects/HW_shader_VFX_Zoom/obj/
Projects/HW_shader_VFX_Zoom/Temp/
Projects/HW_shader_VFX_Zoom/.csproj

Projects/notHDRP_HW_demo/Assembly-CSharp.csproj
Projects/notHDRP_HW_demo/Assembly-CSharp-Editor.csproj
Projects/KeyingTestProject/KeyingTestProject.sln
Projects/KeyingTestProject/Assembly-CSharp.csproj
Projects/HW_shader_VFX_Zoom/Assembly-CSharp.csproj
Projects/HW_shader_VFX_Zoom/Assembly-CSharp-Editor.csproj
Projects/HW_shader_VFX_Zoom/HW_shader_VFX_Zoom.sln
Projects/notHDRP_HW_demo/notHDRP_HW_demo.sln
*.csproj
/com.unity.openface/OpenFace/model/patch_experts/cen_patches_0.50_of.dat
/com.unity.openface/OpenFace/model/patch_experts/cen_patches_1.00_of.dat
/com.unity.openface/OpenFace/model/patch_experts/cen_patches_0.25_of.dat
/com.unity.openface/OpenFace/model/patch_experts/cen_patches_0.35_of.dat
